body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14px;
  font-family: 'Helvetica', sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--background-color);
}

:root {
  --primary-color: #6240bf;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;

  --background-color: #222127;
  --text-color: white;
  --border-color: #6b687b;
  --item-color: #2f2b3a;
  --item-color-hover: hsl(256, 15%, 30%);
  --item-color-active: hsl(256, 15%, 50%);

  $background-color: #222127;
}
